* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 640px;
	margin: 50px auto 10px;
	overflow: auto;
	position: relative;
}

.carousel__items {
	position: relative;
	width: 640px;
	height: 425px;
	overflow: hidden;
}

.carousel__items img {
	display: none;
	width: 640px;
	height: 425px;
}

.carousel__items img.active {
	display: inline-block;
}

.prev, .next {
	position: absolute;
	width: 30px;
	height: 40px;
	background-color: #00000066;
	top: calc((100% - 40px) / 2);
	color: #ffffff36;
	text-align: center;
	line-height: 40px; 
	cursor: pointer;
	font-size: 25px;
	transition: 0.5s;
}

.next {
	right: 0;
}

.prev:hover, .next:hover {
	background-color: #00000099;
	color: #ffffff;
}

.dots {
	text-align: center;
}

.dots span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #c4c4c4;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 5px;
}

.currentDot {
	background-color: #717171;
}